
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cubes fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" data-bind="html: SampleCollectionCount">0</div>
                            <div>Sampling data in the database</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("ViewImportedData", "ESDAT")">
                    <div class="panel-footer">
                        <span class="pull-left">View sampling data</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-flask fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" data-bind="html: ChemistryAnalyteCount">0</div>
                            <div>Chemistry analyte results in the database</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Station")">
                    <div class="panel-footer">
                        <span class="pull-left">Query Water Quality data</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-upload fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Data Acquisition</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "ESDAT")">
                    <div class="panel-footer">
                        <span class="pull-left">Import Data</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-flag-checkered fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Quality Assurance!</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "QualityAssurance")">
                    <div class="panel-footer">
                        <span class="pull-left">Run Quality Assurance Chain</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bar-chart-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Report</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Report")">
                    <div class="panel-footer">
                        <span class="pull-left">Click here to view report</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-wrench fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Administration</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Admin")">
                    <div class="panel-footer">
                        <span class="pull-left">Admin</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cogs fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
<<<<<<< HEAD
        
=======
                            <div class="huge"></div>
>>>>>>> upstream/master
                            <div>Management tools</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Manage")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage data</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Knockout/Home.js")"></script>