<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">EnviroData</a>
    </div>
    
    @*Comment out the top right nav partial view now*@
    @*@Html.Partial("_TopRightNavPartial")*@

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                

                <li>
                    <a href="#"><i class="fa fa-upload fa-fw"></i> Data Acquisition<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("ImportFromLocal", "ESDAT")"> Upload lab EDD file</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ImportFromHttp", "ESDAT")"> Import lab EDD file from Web Service</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ImportFromFtp", "ESDAT")"> Import lab EDD file from FTP site</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-flag-checkered fa-fw"></i> Quality Assurance<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index", "QualityAssurance")"> Manage Quality Assurance Chain</a>                            
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>                
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("ViewImportedData", "ESDAT")"> View imported ESDAT data</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Station")"> Query Water Quality data</a>
                        </li>
                        @*<li>
                            <a href="panels-wells.html">Graph report</a>
                        </li>
                        <li>
                            <a href="buttons.html">Tabular report</a>
                        </li>
                        <li>
                            <a href="notifications.html"> Guidelines</a>
                        </li>*@                        
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> Admin<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index", "ControlledVocabularies")"> Synchronize Controlled Vocubularies</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AdminDefaultValues", "Admin")"> Manage system default values</a>
                        </li>                        
                    </ul>
                    <!-- /.nav-second-level -->
                </li>                
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
