@{
    ViewBag.Title = "Admin Default Values";
}
@using Hatfield.EnviroData.MVC.Models
@model Hatfield.EnviroData.MVC.Models.AdminDefaultValuesDataViewModel

<h2>Admin Default Values</h2>

@Html.Label("Provider Name:")
@Html.LabelFor(x => x.Name, Model.Name)
@using(Html.BeginForm())
{
    @Html.Label("Default Person Last Name:")
    @Html.TextBoxFor(x => x.DefaultPersonLastName)
    
    <br />
    @Html.Label("Default Person Middle Name:")
    @Html.TextBoxFor(x => x.DefaultPersonMiddleName)

    <br />
    @Html.Label("Default Person First Name:")
    @Html.TextBoxFor(x => x.DefaultPersonFirstName)

    <br />
    @Html.Label("Default Organization Type CV:")
    @Html.TextBoxFor(x => x.DefaultOrganizationTypeCV)

    <br />
    @Html.Label("Default Organization Name:")
    @Html.TextBoxFor(x => x.DefaultOrganizationName)

    <br />
    @Html.Label("Default Organization Code:")
    @Html.TextBoxFor(x => x.DefaultOrganizationCode)

    <br />
    @Html.Label("Default Processing Levels:")
    @Html.TextBoxFor(x => x.DefaultProcessingLevelCode)

    <br />
    @Html.Label("Default Sampling Feature UUID:")
    @Html.TextBoxFor(x => x.DefaultSamplingFeatureUUID)

    <br />
    @Html.Label("Default Sampling Feature Type CV (Chemistry):")
    @Html.TextBoxFor(x => x.DefaultSamplingFeatureTypeCVChemistry)

    <br />
    @Html.Label("Default Sampling Feature Type CV (Sample Collection):")
    @Html.TextBoxFor(x => x.DefaultSamplingFeatureTypeCVSampleCollection)
    
    <br />
    @Html.Label("Default Sampling Feature Code:")
    @Html.TextBoxFor(x => x.DefaultSamplingFeatureCode)

    <br />
    @Html.Label("Default Method Type CV (Chemistry):")
    @Html.TextBoxFor(x => x.DefaultMethodTypeCVChemistry)

    <br />
    @Html.Label("Default Method Type CV (Sample Collection):")
    @Html.TextBoxFor(x => x.DefaultMethodTypeCVSampleCollection)


    <br />
    @Html.Label("Default Variable Type CV (Sample Collection):")
    @Html.TextBoxFor(x => x.DefaultVariableTypeCVSampleCollection)


    <br />
    @Html.Label("Default Variable Type CV  (Chemistry):")
    @Html.TextBoxFor(x => x.DefaultVariableTypeCVChemistry)
    
    <br />
    @Html.Label("Default Variable Code:")
    @Html.TextBoxFor(x => x.DefaultVariableCode)

    <br />
    @Html.Label("Default Variable Name CV:")
    @Html.TextBoxFor(x => x.DefaultVariableNameCV)


    <br />
    @Html.Label("Default Variable Speciation CV:")
    @Html.TextBoxFor(x => x.DefaultVariableSpeciationCV)

    <br />
    @Html.Label("Default Variable No Data Value:")
    @Html.TextBoxFor(x => x.DefaultVariableNoDataValue)

    <br />
    @Html.Label("Default Units Type CV (Sample Collectoin):")
    @Html.TextBoxFor(x => x.DefaultUnitsTypeCVSampleCollection)

    <br />
    @Html.Label("Default Units Type CV (Chemistry):")
    @Html.TextBoxFor(x => x.DefaultUnitsTypeCVSampleCollection)



    <br />
    @Html.Label("Wat To Handle New Data:")
    @Html.TextBoxFor(x => x.WayToHandleNewData)

    <br />
    <input type="submit" value="Save"/>
}