@{
    ViewBag.Title = "Admin Default Values";
}
@using Hatfield.EnviroData.MVC.Models
@model Hatfield.EnviroData.MVC.Models.AdminDefaultValuesDataViewModel

<h2>Admin Default Values</h2>

@Html.Label("Provider Name:")
@Html.LabelFor(x => x.Name, Model.Name)
@using(Html.BeginForm())
{
    @Html.Label("Default Person Last Name:")
    @Html.TextBoxFor(x => x.DefaultPersonLastName)
    
    <br />
    @Html.Label("Default Person Middle Name:")
    @Html.TextBoxFor(x => x.DefaultPersonMiddleName)

    <br />
    @Html.Label("Default Person First Name:")
    @Html.TextBoxFor(x => x.DefaultPersonFirstName)

    <br />
    @Html.Label("Default Organization Type CV:")
    @Html.TextBoxFor(x => x.DefaultOrganizationTypeCV)

    <br />
    @Html.Label("Default Organization Name:")
    @Html.TextBoxFor(x => x.DefaultOrganizationName)

    <br />
    @Html.Label("Default Organization Code:")
    @Html.TextBoxFor(x => x.DefaultOrganizationCode)

    <br />
    @Html.Label("Default Processing Levels:")
    @Html.TextBoxFor(x => x.DefaultProcessingLevels)

    <br />
    @Html.Label("Default Sampling Feature UUID:")
    @Html.TextBoxFor(x => x.DefaultSamplingFeatureUUID)

    <br />
    @Html.Label("Default Sampling Feature Type CV:")
    @Html.TextBoxFor(x => x.DefaultSamplingFeatureTypeCV)

    <br />
    @Html.Label("Default Sampling Feature Code:")
    @Html.TextBoxFor(x => x.DefaultSamplingFeatureCode)

    <br />
    @Html.Label("Default Method Type CV:")
    @Html.TextBoxFor(x => x.DefaultMethodTypeCV)

    <br />
    @Html.Label("Default Method Code:")
    @Html.TextBoxFor(x => x.DefaultMethodCode)

    <br />
    @Html.Label("Default Method Name:")
    @Html.TextBoxFor(x => x.DefaultMethodName)

    <br />
    @Html.Label("Default Method Description:")
    @Html.TextBoxFor(x => x.DefaultMethodDescription)

    <br />
    @Html.Label("Default Method Link:")
    @Html.TextBoxFor(x => x.DefaultMethodLink)

    <br />
    @Html.Label("Default Method Organization ID:")
    @Html.TextBoxFor(x => x.DefaultMethodOrganizationID)

    <br />
    @Html.Label("Default Variable Type CV:")
    @Html.TextBoxFor(x => x.DefaultVariableTypeCV)

    <br />
    @Html.Label("Default Variable Code:")
    @Html.TextBoxFor(x => x.DefaultVariableCode)

    <br />
    @Html.Label("Default Variable Name CV:")
    @Html.TextBoxFor(x => x.DefaultVariableNameCV)

    <br />
    @Html.Label("Default Variable Definition:")
    @Html.TextBoxFor(x => x.DefaultVariableDefinition)

    <br />
    @Html.Label("Default Variable Speciation CV:")
    @Html.TextBoxFor(x => x.DefaultVariableSpeciationCV)

    <br />
    @Html.Label("Default Variable No Data Value:")
    @Html.TextBoxFor(x => x.DefaultVariableNoDataValue)

    <br />
    @Html.Label("Default Units Type CV:")
    @Html.TextBoxFor(x => x.DefaultUnitsTypeCV)

    <br />
    @Html.Label("Default Units Abbreviation:")
    @Html.TextBoxFor(x => x.DefaultUnitsAbbreviation)

    <br />
    @Html.Label("Default Units Name:")
    @Html.TextBoxFor(x => x.DefaultUnitsName)

    <br />
    @Html.Label("Default Units Link:")
    @Html.TextBoxFor(x => x.DefaultUnitsLink)

    <br />
    @Html.Label("Default CV Units Type:")
    @Html.TextBoxFor(x => x.DefaultCVUnitsType)

    <br />
    @Html.Label("Default CV Term:")
    @Html.TextBoxFor(x => x.DefaultCVTerm)

    <br />
    @Html.Label("Default CV Name:")
    @Html.TextBoxFor(x => x.DefaultCVName)

    <br />
    @Html.Label("Wat To Handle New Data:")
    @Html.TextBoxFor(x => x.WayToHandleNewData)

    <br />
    <input type="submit" value="Save"/>
}