
<div id="page-wrapper">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cubes fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          
                            <div>Equipment</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Equipment", "Manage")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage Equipment</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-flask fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                           
                            <div>Organizations and People</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("OrganizationsAndPeople", "Manage")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage Organizations and People</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-upload fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Projects</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Projects", "Manage")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage Projects</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-flag-checkered fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Reference</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("ReferenceMaterialsAndCitations", "Manage")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage Reference Materials and Citations</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bar-chart-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Simulations</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Simulations", "Manage")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage Simulations</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-wrench fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"></div>
                            <div>Sites</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Sites", "Manage")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage Sites</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cogs fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            
                            <div>Controlled Vocabularies</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("CVs", "Manage")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage Controlled Vocabularies</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
</div>
    </div>
